<h1>Hello Sales Table</h1>

<h2> <%=  %> </h2>
<table class="table">
  <thead>
    <tr>
      <th>carModel</th>
      <th>salesDate</th>
      <th>salesperson</th>
      <th>fuelType</th>
      <th>test_top_seller</th>
    </tr>
  </thead>
  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.carModel %></td>
        <td><%= sale.salesDate %></td>
        <td><%= sale.seller_name %></td>
        <td><%= sale.fuelType %></td>
        <td><%= sale.top_seller %></td>
      </tr>
    <% end %>
  </tbody>
</table>