<h1>Sales Log</h1>
<% if @sale.errors.any? %>
  <h2>You got an error</h2>
  <ul>
    <% @sale.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @sale, local: true, data: { turbo: false }) do |f| %>
  <p>
    <%= f.label :carModel, "Enter a Car Model" %><br/>
    <%= f.text_field :carModel %>
  </p>
  <p>
    <%= f.label :salesDate, "Enter a date of sale" %><br/>
    <%= f.text_field :salesDate %>
  </p>
  <p>
    <%= f.label :fuelType %><br>
    <%= f.radio_button :fuelType, "Petrol" %>
    <%= f.label :fuelType, "Petrol" %>
    <%= f.radio_button :fuelType, "Diesel" %>
    <%= f.label :fuelType, "Diesel" %>
  </p>
  <h4>Select a Salesperson</h4>

  <p>
    <%= collection_select(:sale, :salesperson_id, @salespersons, :id, :display_first_last, prompt: true) %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
